#####################################
#  Gitignore file for kingBill404   #
#####################################
# any files or pages still In Development are added to the .dev directory.
#

*/.dev
./assets/.dev/*
*/.dev